@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<div>
    @await Html.PartialAsync("StartPageParts/Hero")
</div>

@await Html.PartialAsync("StartPageParts/Spots")
<hr />
@await Html.PartialAsync("StartPageParts/PopularProducts")

