@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container-fluid ro container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/Products" class="nav-link link-dark px-2">Products</a></li>
            <li class="nav-item"><a href="/Search" class="nav-link link-dark px-2">Search</a></li>
            <li class="nav-item"><a href="/shappingcart" class="nav-link link-dark px-2">Shopping Cart</a></li>
            <li class="nav-item"><a href="/Umbraco" class="nav-link link-dark px-2">Admin</a></li>
        </ul>

        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item"><a href="/Login" class="nav-link link-dark px-2">Login</a></li>
                <li class="nav-item"><a href="/Register" class="nav-link link-dark px-2">Sign up</a></li>
            </ul>
        </form>
    </div>
</div>