@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

    var spotsElements = Model.Value<IEnumerable<IPublishedElement>>("spotsHome");
    var num = 1;

}


<div class="row mt-3 SpotsBox">
    @foreach (var spot in spotsElements)
    {
        var imageSpot = spot.Value<IPublishedContent>("SpotsImage");
        <div class="col-md-4 card  text-white spotsContent">

            <img class="spotsImage rounded-3" src="@imageSpot.Url()" />
            <div class="card-img-overlay">
                <p class="spotsText card-title text-center justify-center">@spot.Value("SpotsTitle")</p>
            </div>
        </div>
        num++;
    }


</div>